<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>CJ Dunn</string>
	<key>developerURL</key>
	<string>http://github.com/cjdunn</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>MM2SpaceCenter</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>3</string>
	<key>timeStamp</key>
	<real>1584479220.6565871</real>
	<key>version</key>
	<string>0.1.5</string>
</dict>
</plist>
